$color: #c0c0c0;
$background: #f0f0f0;
$gutter: 10px;
$font-size: 16px;

$card-background: #fff;
$card-padding: 4px;
$card-width: 5rem;
$card-height: 8rem;
$card-color-red: #e44145;
$card-color-black: #252525;
$card-symbol-size: 40px;

